@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    font-size: 3em;
}
.letter {
    color: #C03;
}
#subjects {
    text-align:left;
    margin-left: 46%;
}
